{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <div class="title">
        <h2>Connection</h2>
    </div>

<form method="post">

    <div class="alert-zone">
        {% if error %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}

        {% if app.user %}
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}"> Log out ?</a>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    </div>

    <div class="form-group">
        <label for="inputEmail">Email</label>
        <input placeholder="..." class="form-control" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    </div>

    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input placeholder="..." class="form-control" type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    </div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="btn btn-primary" type="submit">
        <i class="fa-solid fa-arrow-right-to-bracket"></i> Log in
    </button>
</form>
{% endblock %}
